<div class="centered-flex">
  <div class="card">
    <div class="branded-form-title">
      <%= image_tag "mark.png" %>
      <h2>Welcome back!</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form__checkbox-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "button button--primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>