<div class="card memo-form">
  <%= link_to user_path(current_user.username), class: "memo-form__profile-link" do %>
    <%= render partial: "shared/profile-picture", locals: { user: current_user } %>
  <% end %>
  <%= form_with model: memo, html: { autocomplete: "off" } do |form| %>
    <%= form.text_area :body, placeholder: "What's on your mind?", maxlength: 500 %>
    <%= form.submit "Say", class: 'button button--primary' %>
  <% end %>
</div>
